  <img class="col" href=""src="https://i.hizliresim.com/Ts5R6k.png" width="200" height="200">

    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="#">Aeroplanner</a>
        <button class="navbar-btn" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">

        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a <img src="https://i.hizliresim.com/Ts5R6k.png" > </img> class="navbar-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="navbar-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-md-0">

          </form>
        </div>
      </nav>